<mat-card>
<div class="header">
  <h1>Detalhes Funcionário</h1>
</div>

<div *ngIf="funcionario">
  <form>


    <div class="input-container">
      <mat-form-field appearance="fill">
      <mat-label>Nome:</mat-label>
      <input matInput type="text" value="{{funcionario.nome}}" disabled>
    </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill">
      <mat-label>Sobrenome:</mat-label>
      <input matInput type="text" value="{{funcionario.sobrenome}}" disabled>
    </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill">
      <mat-label>Departamento:</mat-label>
      <input matInput type="text" value="{{funcionario.departamento}}" disabled>
    </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill">
      <mat-label>Turno:</mat-label>
      <input matInput type="text" value="{{funcionario.turno}}" disabled>
    </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill">
      <mat-label>Situação:</mat-label>
      <input matInput type="text" value="{{funcionario.ativo == true? 'Ativo' : 'Inativo'}}" disabled>
    </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill">
      <mat-label>Data de Criação:</mat-label>
      <input matInput type="text" value="{{funcionario.dataCriacao}}" disabled>
    </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill">
      <mat-label>Data de Alteração:</mat-label>
      <input matInput type="text" value="{{funcionario.dataAlteracao}}" disabled>
    </mat-form-field>
    </div>

   <div class="btn-box">
      <button
  (click)="InativaFuncionario()"
  mat-raised-button
  [color]="funcionario.ativo ? 'warn' : 'primary'"
>
  {{funcionario.ativo ? 'Inativar Funcionário' : 'Ativar Funcionário'}}
</button>
      <button routerLink="" mat-raised-button>Voltar</button>
    </div>

  </form>
</div>
</mat-card>
