html, body{
  width: 90vw;
  height: 40vw;
  font-size: 62.5%;
  /* overflow: hidden; */
}

mat-card{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  margin-top: 5rem;
}

mat-form-field{
  width: 70%;
}

.input-box{
  width: 140%;
}

.btn-box{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button{
  width: 50%;
}

.detalhes{
  width: 500px;

}
