.funcionario-box{
  width: 100%;
  gap: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  margin-bottom: 2rem;
}

.input-box1{
  width: 1885px;
}


.mat-card-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.table-container {
  flex: 1;
  flex-direction: column;
}

table {
  flex: 1;
}

mat-paginator {
  margin-top: 20px;
}
